

.App-header h1 {
    font-weight: 300;
    font-size: 26px;
    margin-left : 170px;
    padding: 0;
    vertical-align: middle;
    display: inline-block;
}

.App-content {
    padding: 20px;
}


.error-toast {
    color: #e74c3c;
}



/*-- ========================================= --
	1.0 BASIC STYLE
/*-- ========================================= --*/

html {
	font-size: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	font-size: 100%;
	margin: 0;
	min-height: 100%;
	height: 100%;
	background: #0D0D1A url(bg2.jpg) no-repeat;
    background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
	overflow-x: hidden;
}

.wrapper {
	position: relative;
}

.red {
	color: #DC4C42;
}


/*-- ================== 1.1 BODY FONT-SIZE ACCORDING TO DEVICE WIDTH ====================== --*/

@media all and (max-width:767px) {
	body {
		font-size: 97% !important;
	}
}

@media all and (max-width:1024px) and (min-width:768px) and (orientation: landscape) {
	body {
		font-size: 100% !important;
	}
}

@media all and (max-width:1024px) and (min-width:768px) and (orientation: portrait) {
	body {
		font-size: 100% !important;
	}
}

@media all and (max-width:1200px) and (min-width:1024px) {
	body {
		font-size: 85% !important;
	}
}

@media all and (max-width:1366px) and (min-width:1200px) {
	body {
		font-size: 100% !important;
	}
}

@media all and (max-width:1440px) and (min-width:1366px) {
	body {
		font-size: 105% !important;
	}
}

@media all and (max-width:1680px) and (min-width:1440px) {
	body {
		font-size: 115% !important;
	}
}

@media all and (max-width:1920px) and (min-width:1680px) {
	body {
		font-size: 140% !important;
	}
}

@media all and (max-width:2048px) and (min-width:1920px) {
	body {
		font-size: 145% !important;
	}
}

@media all and (max-width:2560px) and (min-width:2048px) {
	body {
		font-size: 155% !important;
	}
}

@media all and (max-width:2880px) and (min-width:2560px) {
	body {
		font-size: 165% !important;
	}
}





/*-- ========================================= --
	2.0 TYPOGRAPHY
/*-- ========================================= --*/

h1 {
	font-family: 'Montserrat', sans-serif;
	
	color: #Ffffff;
	font-size: 1.2em;
	margin-top: 0.5em;
	margin-bottom: 0;
	line-height: 0.8;
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
	font-size: 10em !important;
	
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2em;
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 0.6em;
	font-weight: 50;
}








